.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-header {
    position: absolute;
    background-color:white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 141px;
    width : 160px;
    height: 40px;
   
  }
  
  .arrow {
    font-size: 14px;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 20px;
    right:141px;
    text-align: end;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
    width: 235px;
    height: 324px;
    /* top: 610px;
    left: 1107px; */
    /* gap: 0px; */
    /* opacity: 0px; */

  }
  
  .dropdown-item {
    padding: 10px;
    cursor: pointer;
    display: flex;
  
    align-items: flex-end;
    justify-content: end;
    /* border: 1px solid; */

  }
  
  .dropdown-item:hover {
    background-color: #ffffff;
  }
  
  .selected {
    font-weight: bold;
    color: #000102;
  }
  
  .checkmark {
    margin-right: 8px;
  }
  